<model>
    <name>Forklift</name>
    <version>1.0</version>
    <sdf version='1.6'>model.sdf</sdf>

    <author>
        <name>Cole Biesemeyer</name>
        <email>cole.bsmr@gmail.com</email>
    </author>

    <description>
        Forklift for lifting pallets.
    </description>
</model>