<?xml version="1.0"?>
<model>
  <name>Charging Zone</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>

  <author>
    <name>Your Name</name>
    <email>rami@tub.de</email>
  </author>

  <description>
    Charging zone with striped border and 3 robot docking slots.
  </description>
</model>
